.text-column__footer {
    @include media-breakpoint-down(md) {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    &__ul {


        padding: 0;
        margin-bottom: 5em;
        margin-left: 15px;

        li {
            display: inline-block;
            list-style: none;
            margin-right: 15px;


            a {
                font-size: 1.5rem;
                color: white;
                display: block;
                background: #e1e1e1;
                height: 50px;
                width: 50px;
                border-radius: 50%;

                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.25s;

                &:hover {
                    text-decoration: none;
                    background: darken(#e1e1e1, 20%);
                }
            }
        }
    }
}